ORACLE_CONTAINER_NAME=oracle_database_21c
ORACLE_LISTENER_PORT=1521
OEM_EXPRESS_PORT=5500
ORACLE_SID=ORCLCDB
ORACLE_PDB=ORCLPDB1
ORACLE_PWD=oracle
ORACLE_EDITION=enterprise
ORACLE_CHARACTERSET=AL32UTF8
ENABLE_ARCHIVELOG=true
